html {
    scroll-behavior: smooth;
}
.video iframe{
    width:840px;
    height:600px;
    transform: translate(-50%,0);
    left :50%;
    position:relative;
}

@media screen and (max-width: 1500px){
    .video iframe{
        width:650px;
        height:460px;
        transform: translate(-50%,0);
        left :50%;
        position:relative;
    }
}
@media screen and (max-width: 1250px){
    .video iframe{
        width:460px;
        height:270px;
        transform: translate(-50%,0);
        left :50%;
        position:relative;
    }
}
@media screen and (max-width: 980px){
    .video iframe{
        width:300px;
        height:200px;
        transform: translate(-50%,0);
        left :50%;
        position:relative;
    }
    .col-0{
        display:none;
    }
}
.avatar-container{
    position: absolute;
}
.comment-container{
    margin-left:60px;
}
.comment-time{
    text-align: right;
    color:red;
}
.comment-modal-body{
    max-height:500px;
    overflow-y: scroll;
}
.comment-form{
    width:100%;
}
/* width */
.comment-modal-body::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.comment-modal-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.comment-modal-body::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* Handle on hover */
.comment-modal-body::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

.ads iframe{
    width:100%;
    margin:auto;
}

/* Style inputs with type="text", select elements and textareas */
.contact input, .contact textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Add a background color and some padding around the form */
.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}